body {
    background: rgba(250, 234, 153, 0.54);

}

.welcome {
    font-size: 50px;
    font-family: sans-serif;
    margin: 3px;
    text-shadow: 2px 2px #b2b2b2;
    border: 5px solid;
    border-color: rgba(203, 188, 117, 0.99);
    background-color: rgba(250, 234, 153, 0.99);
}

.welcomepic {
    width: 70px;
    cursor: pointer;
    align-items: center;
}

.helpmsg {
    font-size: 15px;
    font-family: sans-serif;
    color: black;
    font-weight: bolder;
}


.addform {
    font-size: 10px;
    font-weight: bold;
    margin: 3px;
}

.addText {
    margin: 3px;
    padding: 2px;
    font-size: 15px;
    color: #000000;
    font-weight: bolder;

}

input.addText:focus {
    background-color: #ffdf88;
}

.myclock {
    font-size: 20px;
    font-weight: bolder;
    color: black;
    margin: 2px;
    position:absolute;
    top:5px;
    right:10px;
    font-family: Arial;


}

.mydate {
    font-size: 20px;
    font-weight: bolder;
    color: black;
    margin: 2px;

}

.searchfieldarea {
    margin: 3px;
}

.searchfieldbox {
    width: 300px;
}
input.searchfieldbox:focus {
    background-color: #ffdf88;
}



.shopitemstable {
    width: 1300px;
    font-family: sans-serif;
}

#datetime {

}

table, th, td {

    width: 750px;
    color: #000000;
    font-family: sans-serif;
}

th {
    text-align: left;
    font-style: initial;
    border-bottom: 3px solid;
    border-bottom-color: #afafaf;

}

th, td {
    padding: 10px;
    margin: 25px;
}

tr:nth-child(even) {
    background-color: #e2e2e2;
}

tr:nth-child(odd) {
    background-color: white;
}

td:nth-child(2), td:nth-child(5) {
    font-weight: bolder;
}

.tdtext1 {
    font-size: 15px;
    font-weight: normal;
    color: black;
}

.h1class {
    font-size: 20px;
    color: #000000;
    background-color: rgba(250, 234, 153, 0.99);
    border: 5px solid;
    border-color: rgba(203, 188, 117, 0.99);
}

.changepricestext {
    padding: 2px;
    font-size: 20px;
    color: #000000;
    font-weight: bolder;
    margin-top: 15px;
    margin-bottom: 0px;

    }

.filtertext {
    padding: 2px;
    font-size: 20px;
    color: #000000;
    font-weight: bolder;
    margin: 2px;
    margin-top: 10px;
}

button{
    color: white;
    background-color: #e04550;
    border-radius: 8px;

    height: 30px;
    width: 150px;
    position: center;
    border: none;
    font-size: 12px;
    font-weight: bolder;
    margin-top: 30px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px #848484;
}

.buttonsPreservatives {
    background-color: #3f843f;
    box-shadow: 2px 2px #848484;
}

.buttonsPreservatives2 {
    background-color: #5ad05a;
    box-shadow: 2px 2px #848484;
}

.buttonsAdd {
    background-color: #209828;
    box-shadow: 2px 2px #848484;
    font-weight: bold;
}

.buttons1 {
    background-color: #00b2f5;
    box-shadow: 2px 2px #848484;
}

.buttons2 {
    background: #00a1da;
    box-shadow: 2px 2px #848484;
}

.buttons3 {
    background: #008abf;
    box-shadow: 2px 2px #848484;
}

.buttons4 {
    background-color: #ff6926;
    box-shadow: 2px 2px #848484;
}

.buttons5 {
    background-color: #b3343f;
    box-shadow: 2px 2px #848484;
}

.buttons6 {
    background-color: #209828;
    box-shadow: 2px 2px #848484;
}

.buttonsEdit {
    background-color: #ff6926;
    box-shadow: 2px 2px #848484;
    font-weight: bold;
}

.buttonsDel {
    background-color: #d11112;
    box-shadow: 2px 2px #848484;
    font-weight: bold;
}

.deletepagetext {
    font-size: 25px;
}