<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FoodShop with SQL</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="screen" href="style.css"/>

    <script>
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('txt').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i
            }
            ;  // add zero in front of numbers < 10
            return i;
        }
    </script>

    <div style="display: flex;">
        <div id="datetime" class="mydate"></div> <div id="txt" class="myclock"></div>
    </div>

    <script>
        var dt = new Date();
        document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
    </script>

</head>

<body onload="startTime()">



    <p class="welcome">Welcome to the Foodshop <img class="welcomepic" onclick="location.href='/'"
                                                    src="foodshop-logo-pic.png"><span class="helpmsg">(PIZZA = DEFAULT VIEW)</span></p>



<div>
    <form class="searchfieldarea" action="search" method="post">
        <input class="searchfieldbox" type="text" name="keyword" placeholder="Search by name and description...">
        <button type="submit" class="buttons4" id="searchButton">Search</button>
    </form>
</div>

    <div>
        <form class="addText"
              action="#"
              th:action="@{/add}"
              method="post"
        >
            <label for="name" >Name</label>
            <input
                    class="addText"
                    type="text"
                    name="name"
                    id="name"
                    required
            />
            <label for="description" >Description</label>
            <input
                    class="addText"
                    type="text"
                    name="description"
                    id="description"
                    required
            />
            <label for="containsPreservatives" >Contains Preservatives</label>
            <input
                    class="addText"
                    type="checkbox"
                    name="containsPreservatives"
                    id="containsPreservatives"

            />
            <label for="calories" >Calories</label>
            <input
                    class="addText"
                    type="number"
                    name="calories"
                    id="calories"
                    required
            />
            <label for="price" >Price</label>
            <input
                    class="addText"
                    type="number"
                    name="price"
                    id="price"
                    required
            />
            <label for="quantity" >Quantity</label>
            <input
                    class="addText"
                    type="number"
                    name="quantity"
                    id="quantity"
                    required
            />
            <button type="submit" class="buttonsAdd">Add</button>
        </form>
    </div>

    <p class="filtertext">FILTERS</p>

    <div style="display: flex">
    <button type="button" class="buttonsPreservatives" onclick="location.href='preservatives'">CONTAINS PRESERVATIVES
    </button>
    <button type="button" class="buttonsPreservatives2" onclick="location.href='preservativeFree'">NO PRESERVATIVES
    </button>
    </div>

<div style="display: flex;">
    <button type="button" class="buttons1" onclick="location.href='least-calories'">LEAST CALORIES</button>
    <button type="button" class="buttons1" onclick="location.href='most-calories'">MOST CALORIES</button>
    <button type="button" class="buttons1" onclick="location.href='average-calories'">AVERAGE CALORIES</button>
    <button type="button" class="buttons1" onclick="location.href='least-kcal-available'">LEAST CALORIES AVAILABLE
    </button>
</div>

<div style="display: flex;">
    <button type="button" class="buttons2" onclick="location.href='cheapest'">CHEAPEST</button>
    <button type="button" class="buttons2" onclick="location.href='most-expensive'">MOST EXPENSIVE</button>
    <button type="button" class="buttons2" onclick="location.href='average-price'">AVERAGE PRICE</button>
    <button type="button" class="buttons2" onclick="location.href='most-expensive-available'">MOST EXPENSIVE AVAILABLE
    </button>
</div>

<div style="display: flex;">
    <button type="button" class="buttons3" onclick="location.href='less-quantity'">LESS QUANTITY</button>
    <button type="button" class="buttons3" onclick="location.href='most-quantity'">MOST QUANTITY</button>
    <button type="button" class="buttons3" onclick="location.href='average-quantity'">AVERAGE QUANTITY</button>
    <button type="button" class="buttons3" onclick="location.href='only-available'">ONLY AVAILABLE</button>
</div>




    <p class="changepricestext">CHANGE PRICES</p>

<div style="display: flex;">

    <form action="priceincreaseplus10" method="post">
        <button type="submit" class="buttons5" name="priceincreaseplus10">Price increase! (+10 HUF)</button>
    </form>

    <form action="priceincreaseplus100" method="post">
        <button type="submit" class="buttons5" name="priceincreaseplus100">Price increase! (+100 HUF)</button>
    </form>

    <form action="pricedecrease10" method="post">
        <button type="submit" class="buttons6" name="pricedecrease10">Price decrease! (-10 HUF)</button>
    </form>

    <form action="pricedecrease100" method="post">
        <button type="submit" class="buttons6" name="pricedecrease100">Price decrease! (-100 HUF)</button>
    </form>

</div>

<h1 class="h1class">MENU</h1>

<table class="shopitemstable">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>CONTAINS PRESERVATIVES</th>
        <th>CALORIES</th>
        <th>PRICE</th>
        <th>QUANTITY</th>
    </tr>
    <tr th:each="item : ${items}">

        <td th:text="${item.getId()}"></td>
        <td th:text="${item.getName()}"></td>
        <td th:text="${item.getDescription()}"></td>
        <td th:text="${item.isContainsPreservatives()}"></td>
        <td th:text="${item.getCalories()+' kcal'}"></td>
        <td th:text="${item.getPrice()+ ' HUF'}"></td>
        <td th:text="${item.getQuantity() + ' piece'}"></td>
        <td><a th:href="${item.getId()} + '/delete'">
            <button type="button" class="buttonsDel" onclick="location.href='deleteShopItem'">Delete</button>
        </a></td>
        <td><a th:href="${item.getId()} + '/edit'">
            <button type="button" class="buttonsEdit" onclick="location.href='editShopItem'">Edit</button>
        </a></td>
    </tr>

</table>

<span th:if="${averageKcal != null}" th:text="'The average calories is: '+${averageKcal} + ' kcal.'"></span>

<span th:if="${averagePrice != null}" th:text="'The average price is: '+${averagePrice} + ' HUF.'"></span>

<span th:if="${averageQuantity != null}" th:text="'The average quantity is: '+${averageQuantity} + ' piece.'"></span>
</body>
</html>