<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>IZs's Kingdom App v0.1</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="screen" href="style.css"/>
</head>

<body>

<h1>Welcome to the Kingdoms App</h1>

<p th:utext="${errormessage}" ></p>

<form method="post" action="/login">

    <label for="userName">User Name:</label><br>
    <input type="text" name="userName" id="userName"><br>
    <label for="userPassword">Passord:</label><br>
    <input type="password" name="userPassword" id="userPassword"><br>

    <input type="submit" name="submit" value="Log in">
</form>

<button type="button" onclick="location.href='/register'">Register new account</button>

</body>

</html>