<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>IZs's Kingdom App v0.1</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="screen" href="style.css"/>
</head>

<body>



<h1>Welcome to the Kingdoms App</h1>

<button type="button" onclick="location.href='login'">Home</button>
<button type="button" onclick="location.href='newspage'">News</button>
<button type="button" onclick="location.href='forumpage'">Forum</button>
<button type="button" onclick="location.href='gamepage'">Game</button>
<button type="button" onclick="location.href='patchnotespage'">Patch Notes</button>
<button type="button" onclick="location.href='contactspage'">Contacts</button>

<p th:utext="${errormessage}"></p>

<form method="post" action="/login">

    <label for="userName">User Name</label><br>
    <input type="text" name="userName" id="userName"><br>
    <label for="userPassword">Password</label><br>
    <input type="password" name="userPassword" id="userPassword"><br>

    <input class="submitbutton" type="submit" name="submit" value="Log in">
</form>

<button type="button" onclick="location.href='/register'">Register new account</button>

<h2 class="shadowed">Hall of Fame</h2>

<table class="shadowed">

    <tr>
        <th>PLAYER</th>
        <th>NAME</th>
        <th>LEVEL</th>
    </tr>
    <tr th:each="user : ${users}">
        <td><img class="useravatarpic" th:src="${user.userAvatar} + 'avatar.jpg'"></td>
        <td th:text="${user.getUserName()}"></td>
        <td th:text="${user.getLevel()}"></td>
    </tr>

</table>

</body>

</html>