.myshop {
    font-size: 30px;
    color: #22b3d3;
    border-bottom: 2px solid #22b3d3;
    cursor: pointer;
}

p {
    margin-top: 5px;
    margin-bottom: 1px;
    color: #ff4853;
}

form {
    margin-top:1px;
    margin-bottom: 1px;


}

#searchbutton {
    margin-top:1px;
    margin-bottom: 1px;

}

#searchfield {
    color: black;
    border-color: #ff4853;
    border-radius: 3px;
    width: 500px;
}

button{
    color: white;
    background-color: #ff4853;
    height: 30px;
    width: 150px;
    position: center;
    border: none;
    font-size: 8px;
    font-weight: bolder;
    margin-top: 30px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

th {
    background-color: aqua;
    height: 60px;
    width: 150px;
    font-size: 8px;

    font-size: 30px;
}

td:nth-child(3), td:nth-child(4) {
    font-weight: bold ;
}