<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Sign Up Form</title>
    <link rel="stylesheet" type="text/css" media="screen" href="style.css"/>
</head>


<body>


<div class="myshop" onclick="location.href='home'">My Shop</div>

<div class="buttons">
    <button type="button" onclick="location.href='only-available'">ONLY AVAILABLE</button>
    <button type="button" onclick="location.href='cheapest-first'">CHEAPEST FIRST</button>
    <button type="button" onclick="location.href='contains-nike'">CONTAINS NIKE</button>
    <button type="button" onclick="location.href='average-stock'">AVERAGE STOCK</button>
    <button type="button" onclick="location.href='most-expensive-available'">MOST EXPENSIVE AVAILABLE</button>

</div>


<p>Search for:</p>

<form>
    <input id="searchfield" type="text" placeholder="...something like Nike">
    <button id="searchbutton">Search</button>
</form>


<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>

    <!--    for each-vel az itemnek elnevezett elemmel végigmegyek az items-en (ez a controllerben létrehozott hashmap kulcsa
    -->
    <tr th:each="item : ${items}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.price + ' Kc ' }"></td>
        <td th:text="${item.quantityOfStock}"></td>
    </tr>

</table>
<span th:if="${average != null}" th:text="'The average is: '+${average}"></span>
<!--itt adunk egy feltételt if-vel az average-ra,
és mivel average csak az averageStock -nál van emgadva a Contollereknél,
így a többi esetben nem aktiválódik a tmi ettől jobbra található kód-->


</body>


</html>