<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>My ToDo's</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<h1>TODO OR NOT TODO !!!</h1>

<a href="http://localhost:8080/todo/add">Add new todo</a>

<p>Todos</p>

<table>
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>DONE</th>
        <th>URGENT</th>
    </tr>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.getId()}"></td>
        <td th:text="${todo.getTitle()}"></td>
        <td th:text="${todo.isDone()}"></td>
        <td th:text="${todo.isUrgent()}"></td>
        <td><a th:href="'/todo/' + ${todo.getId()} + '/delete'">delete</a></td>
        <td><a th:href="'/todo/' + ${todo.getId()} + '/edit'">edit</a></td>
    </tr>
</table>

<p>Urgent Tasks</p>

<table>
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>URGENT</th>
    </tr>
    <tr th:each="todo : ${urgenttodos}">
        <td th:text="${todo.getId()}"></td>
        <td th:text="${todo.getTitle()}"></td>
        <td th:text="${todo.isUrgent()}"></td>
    </tr>
</table>

<p>Completed Tasks</p>

<table>
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>DONE</th>
    </tr>
    <tr th:each="todo : ${donetodos}">
        <td th:text="${todo.getId()}"></td>
        <td th:text="${todo.getTitle()}"></td>
        <td th:text="${todo.isDone()}"></td>
    </tr>
</table>

</body>
</html>