<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>IZs's Fox Club</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/style.css"/>
</head>
<body>
<li>Information</li>

<img src="greenfoximage.png">


<!--A csillag a th után itt már a konkrét objektumra utal (jelen esetben a foxTemp)-->

<div th:object="${fox}">
    <p>This is <span th:text="*{name}".></span> Currently living on <span th:text="*{food}"></span> and <span th:text="*{drink}"></span>. He knows <span th:text="*{listOfTricks.size()}"></span>. </p>

    <h1>Known tricks</h1>
    <span ></span>

</div>


</body>

</html>